@using eTakaf2025.Components.Layout
@layout EmptyLayout

@page "/MainPage"


    <div class="container">
    <h1 class="text-center" style="font-weight:bold;">PORTAL CARIAN MAKLUMAT TANAH WAKAF NEGERI SEMBILAN</h1>
        <div class="text-center">
            <img src="Images/etakaf_bg.png" alt="Portal Carian Info Tanah Wakaf"
                 class="img-fluid shadow-sm" style="width: 80%;">
        </div>

    <div class="container-fluid mt-1">
        <div class="row justify-content-center">
            <div class="col-4 text-center mt-2">               
                <a href="Login" class="btn btn-success">
                    <i class="fa-regular fa-unlock-keyhole pe-2"></i> Login 
                </a>
            </div>
            <div class="col-4 text-center mt-2">
                <a href="PendaftaranId" class="btn btn-success">
                    <i class="fa-light fa-address-card pe-2"></i> Daftar Pengguna
                </a>
            </div>
        </div>
    </div>

    </div>
   

@code {

}
